body, html, * {
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    height: 100vh;
}
.container {
    display: flex;
}

.hero{
background-color: beige;
}

.title{
    transform: rotate(90);
    padding: 10% 10%;
}